phpunit.phar
composer.phar
coverrep/
.phpunit.cache/
./coverrep/

# Environment configuration
.env
public/dev/.env
public/qa/.env
public/prod/.env

# Databases
graph.db
data/dev/
data/qa/
data/prod/

# Backups
backups/

# Deployment
deploy.config
*_backups/
