<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Graph Database Visualization{% endblock %}</title>
    <script src="/js/cytoscape.min.js"></script>
    <script src="/js/layout.js"></script>
    <script src="/js/cystyle.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
    <script src="/js/main.js"></script>
    {% endblock %}
</body>
</html>
